.broswer-playlists {
  flex: 1;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 3rem;
  }

  .list {
    margin-top: 20px;
    display: flex;
  }

  .playlist {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 20px;
    width: 250px;
    text-decoration: none;
    &:first-child {
      margin: 0;
    }

    img {
      height: 250px;

      &:hover {
        opacity: 0.4;
      }
    }

    strong {
      font-size: 0.8125rem;
      margin-top: 10px;
    }

    p {
      line-height: 22px;
      margin-top: 5px;
      font-size: 0.8125rem;
      color: #b3b3b3;
    }
  }
}
