.playlist-album {
  margin-top: 30px;

  .header {
    display: flex;
    align-items: center;

    img {
      width: 220px;
      height: 220px;
    }

    div {
      margin-left: 20px;

      span {
        font-size: 0.8125rem;
        letter-spacing: 1.11px;
        font-weight: 300;
      }

      h1 {
        margin-top: 10px;
        font-size: 3rem;
      }

      p {
        margin-top: 0;
        color: #b3b3b3;
        font-size: 0.6875rem;
        letter-spacing: 1.11px;
        text-transform: uppercase;
      }

      button {
        background: #1db854;
        height: 32px;
        border-radius: 16px;
        color: #fff;
        line-height: 32px;
        padding: 0 35px;
        border: 0;
        margin-top: 10px;
        font-size: 0.75rem;
        letter-spacing: 1.11px;
      }
    }
  }
  .songlist {
    width: 100%;
    text-align: left;
    margin-top: 20px;

    thead {
      th {
        font-size: 0.6875rem;
        color: #b3b3b3;
        letter-spacing: 1.11px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 5px 10px;

        &:last-child {
          text-align: right;
        }
      }
    }
    .song-item {
      td {
        border-top: 1px solid #282828;
        font-size: 0.8125rem;
        padding: 0 10px;
        line-height: 40px;
        background: #282828;
        color: #1ED760;

        &:first-child {
          width: 80px;
          text-align: right;
        }

        &:last-child {
          text-align: right;
        }

        &:hover {
          background: #282828;
        }
      }
    }
  }
}
